@model X.PagedList.IPagedList<PaiPaiGO.Models.Mission>

@using X.PagedList.Mvc.Core;
@using X.PagedList;
@using X.PagedList.Web.Common;
@{
	ViewData["Title"] = "Mission";

}

<!-- css -->
<link rel="stylesheet" href="style.css">
<link rel="stylesheet" href="~/css/WS_checkbox.css" />
<!-- js -->
<script src="script.js"></script>
<!-- JQ -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<!-- FontAwesome -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
<!-- Boostrap 5.3.2 -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
	  integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
@*左側選單*@
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
		crossorigin="anonymous"></script>
@*選地區*@
<script src="~/jQuery-TWzipcode-master/jquery.twzipcode.js"></script>
<script src="~/jQuery-TWzipcode-master/twzipcode.js"></script>



<div class="container-fluid mt-2" id="app">
	<div class="row ">
		<!-- 左側nav -->
		<div class=" col-1 d-flex flex-column  bg-light">
			<ul class="nav nav-pills nav-flush flex-column mb-auto text-left">
				<li>
					<a asp-controller="WS_AdmMissions" asp-action="WS_AdmMission" class="nav-link py-3 border-bottom">
						<i class="fa-solid fa-list-check" style="font-size: 30px;" title="任務明細"
						   data-bs-toggle="tooltip" data-bs-placement="right"></i>
					</a>
				</li>
				<li>
					<a asp-controller="WS_AdmMembers" asp-action="AdmMember" class="nav-link py-3 border-bottom">
						<i class="fa-solid fa-circle-user" style="font-size: 30px;" title="會員管理"
						   data-bs-toggle="tooltip" data-bs-placement="right"></i>
					</a>
				</li>
				<li class="nav-item">
					<a asp-controller="WS_Opinions" asp-action="AdmOpinion" class="nav-link  py-3 border-bottom">
						<i class="fa-solid fa-star" style="font-size: 30px;" title="評論管理"
						   data-bs-toggle="tooltip" data-bs-placement="right"></i>
					</a>
				</li>
				@*<li>
				<a href="#" class="nav-link py-3 border-bottom">
				<i class="fa-solid fa-gear" style="font-size: 30px;" title="設定" data-bs-toggle="tooltip"
				data-bs-placement="right"></i>
				</a>
				</li>*@
			</ul>
		</div>

		<!-- 中間區塊 -->
		<div class="col-10">
			<!-- 上方選單-->

			<div class="d-flex mt-1 mr-" style="justify-content: space-between">

				@*選執行地*@
				<lable class="fs-4 align-middle">執行地點：</lable>
				<div id="twzipcode" class="form-row align-middle" style="width: 30%;">
					<div data-role="county" data-name="county" data-value="" class="form-group col-5 fs-1" style="display: inline-block;"></div>
					<div data-role="district" data-name="district" data-value="" class="form-group col-5 fs-1" style="display: inline-block;"></div>
					<!-- 隱藏的郵遞區號欄位，值可以 SQL 抓取 -->
					<div data-role="zipcode" data-style="form-control" data-name="zipcode" data-value="" hidden></div>
				</div>


				<lable class="fs-4">種類：</lable>
				<div style="width: 10%;">
					@*選取排隊或代購*@
					@if (ViewData["MissionCatagoryViewModel"] != null)
					{
						var MissionCategoryViewModel = ViewData["MissionCatagoryViewModel"] as MissionCategoyViewModel;
						<select id="selectMissionCategory" class="form-select menu" asp-items="MissionCategoryViewModel?.MissionCategory" v-model="obj.selectedStatus">
							<option value="" style="display:none">請選擇</option>
						</select>
					}
				</div>

				<lable class="fs-4 align-middle" style="padding-left: 90px;">狀態：</lable>
				<div style="width: 10%; " class="fs-5">
					@*選取任務狀態*@
					
					@if (ViewData["MissionStatusViewModel"] != null)
					{
						var MissionStatusViewModel = ViewData["MissionStatusViewModel"] as MissionStatusViewModel;
						
						<select id="selectMissionStatus" class="form-select menu" asp-items="MissionStatusViewModel?.MissionStatus">
							<option value="" style="display:none">請選擇</option>
						</select>
					}
				</div>

				<div class="col-3 ">
					<form asp-controller="WS_AdmMissions" asp-action="WS_AdmMission" class="d-flex " style="padding-left: 100px;">
						<input class="form-control " type="text" name="SearchString" placeholder="請輸入關鍵字">
						<input type="submit" value="搜尋" />
					</form>
				</div>
			</div>

			<!-- 表格 -->
			@*保存變更按鈕*@
			<button type="button" class="btn btn-danger btn btn-primary fs-5" id="saveChangesButton" style="float: right; margin-bottom: 30px;	margin-top: 20px">
				保存變更
			</button>

			@{
				Html.RenderPartial("_MissionTable");
			}

			<!--分頁跳轉-->
			<div style="justify-content: center ; display:flex;">
				@*Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount*@
				@Html.PagedListPager(Model, page => Url.Action("WS_AdmMission",
				new { page}), new PagedListRenderOptions {
				LiElementClasses = new string[] { "page-item" },
				PageClasses = new string[] { "page-link" }})
			</div>
		</div>


		<!-- 最右邊 -->
		<div class="col-1">
			<!-- 這裡保留空位，不放任何内容 -->
			@*測試用*@
			@*@Html.ValidationSummary()*@
		</div>
	</div>


</div>


<script>
	var app = new vue({
		el: "#app",
		data: {
			obj: {

				selectedStatus: "",
			}
		}
	})
	@*左側選單 global bootstrap: false*@
		(function () {
			'use strict'
			var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
			tooltipTriggerList.forEach(function (tooltipTriggerEl) {
				new bootstrap.Tooltip(tooltipTriggerEl)
			})
		})()

</script>

<script>
	//縣市選單
	$("#twzipcode").twzipcode({
		"zipcodeIntoDistrict": false,
		"css": ["city form-control", "town form-control"],
		"countyName": "city", // 指定城市 select name
		"districtName": "town", // 指定地區 select name
		"zipcodeName": "zipcodeField" // 保留郵遞區號欄位，但不顯示
	})

</script>

<script>
	//改資料庫內容(switch checkbox)
	$(document).ready(function () {
		var changesQueue = []; // 設一個changesQueue(本地)的list，用來保存更改  (有保存變更按鈕)

		$(".mission-checkbox").change(function () {
			var missionId = $(this).data("mission-id");
			var initialStatus = $(this).data("initial-status");
			var newStatus = $(this).prop("checked") ? "發布中" : "已下架";

			// 紀錄到changesQueue(本地)的list
			changesQueue.push({ missionId: missionId, newStatus: newStatus, initialStatus: initialStatus });
		});

		$("#saveChangesButton").click(function () {
			// 發送更改到Server
			$.ajax({
				type: "POST",
				url: "/WS_AdmMissions/SaveMissionStatusChanges",
				data: { changes: changesQueue },
				dataType: "json",
				success: function (data) {
					// 處理成功show出來
				},
				error: function () {
					// 處理錯誤show出來
					console.error('保存更改失败');
				}
			});
		});
	});
</script>



<script>
	//這裡做"下拉選單抓資料"
	$(document).ready(function () {
		// 監聽selectMissionStatus值的變化
		$("#selectMissionStatus").change(function () {
			// 抓所選狀態的值
			var selectedStatus = $(this).val();

			// 發送AJAX請求取得符合選擇條件的數據(狀態)
			$.ajax({
				url: "/WS_AdmMissions/GetFilteredData",
				type: "POST",
				data: { selectedStatus: selectedStatus },
				success: function (data) {
					// 更新PartialView表格內容
					$("#tableContainer").html(data);
				},
				error: function () {
					console.error('AJAX請求失敗');
				}
			});
		});


		// 監聽selectMissionCategory值的變化
		$("#selectMissionCategory").change(function () {
			// 抓所選種類的值
			var selectedCategory = $(this).val();

			// 發送AJAX請求取得符合選擇條件的數據
			$.ajax({
				url: "/WS_AdmMissions/GetFilteredData",
				type: "POST",
				data: { selectedCategory: selectedCategory },
				success: function (data) {
					// 更新PartialView表格內容
					$("#tableContainer").html(data);
				},
				error: function () {
					console.error('AJAX請求失敗');
				}
			});
		});

		// 監聽zipcode值的變化
		$("select[name='county'], select[name='district']").on('change', function () {
			var selectedZipcode = $("input[name='zipcode']").val();


			// 發送AJAX請求取得符合選擇條件的數據
			$.ajax({
				url: "/WS_AdmMissions/GetFilteredData",
				type: "POST",
				data: { selectedZipcode: selectedZipcode },
				success: function (data) {
					// 更新PartialView内容
					$("#tableContainer").html(data);
				},
				error: function () {
					console.error('AJAX请求失败');
				}
			});
		});

	});
</script>
@*<script>
// 监听zipcode值的变化
$("#twzipcode input[data-role='zipcode']").on('change', function () {
	var selectedZipcode = $("#twzipcode input[data-role='zipcode']").val();


	// 发送AJAX请求以获取符合选择条件的数据
	$.ajax({
		url: "/WS_AdmMissions/GetFilteredData",  // 替换成你的Controller和Action的URL
		type: "POST",
		data: { selectedZipcode: selectedZipcode },
		success: function (data) {
			// 更新PartialView内容
			$("#yourPartialViewContainer").html(data);
		},
		error: function () {
			console.error('AJAX请求失败');
		}
	});
});
</script>*@