<link rel="stylesheet" href="~/css/CC_members.css" />
<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
<script src="~/jQuery-TWzipcode-master/jquery.twzipcode.js"></script>
<script src="~/jQuery-TWzipcode-master/twzipcode.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<div class="row">
    <div class="col-lg-2 col-1"></div>
    <div class="d-flex col-lg-8 col-10">
        <!-- 圖片 -->
        <div class="mw-25 mt-5 h-auto c_loginImg col-lg-7"><img src="~/img/memberForgot.png" style="width: 600px;"></div>
        <!-- 登入資訊框框div -->
        <div class="c_singinDiv rounded mw-50 mt-5 col-lg-5 col-12" style="background-color:rgb(253, 249, 249,0.6);">
            <!-- 標頭 -->
            <br>
            <div class="text-center fs-4">忘記密碼</div>
            <br>
            <span class="fs-5">請輸入所登錄的Email地址。</span>
			<br>
            <span class="fs-6">
				若無法使用登錄Email，麻煩請來信聯繫<a href="mailto:paipaigo001@@gmail.com">客服</a>。
            </span>

            <form asp-action="ForgotPassword">
                <br><br>
                <div>
                    <div class="col-md-12">
                        <label for="inputEmail" class="form-label fs-5">Email地址</label>
                        <input type="email" class="form-control mt-0" id="inputEmail" name="email">
                    </div>
                </div>
                <br>
                <!-- 寄出按鈕 -->
@*                <button class="rounded mt-3 border-0 w-100  bg-info fs-5" type="submit">發送驗證郵件</button>*@
                <button class="CCbtn_submit rounded mt-3 border-0 w-100 fs-5" type="submit"><span>發送驗證郵件</span></button>
            </form>
        </div>
    </div>
</div>

@if (ViewBag.Status == "異常") {
    <script>
        Swal.fire({
            icon: 'error',
            title: '發送驗證郵件失敗',
            text: '您的帳號狀態有異常，請來信詢問<a href="mailto:paipaigo001@@gmail.com">客服</a>。',
            confirmButtonColor: '#00acee',
        })
    </script>
}
else if (ViewBag.Status == "空的") {
    <script>
        Swal.fire({
            icon: 'error',
            title: '發送驗證郵件失敗',
            text: 'Email地址不正確，請檢查您的Email地址並再試一次。',
            timer: 2000,
            timerProgressBar: true,
            confirmButtonColor: '#00acee',
        })
    </script>
}
else if (ViewBag.Status == "正常") {
    <script>
        Swal.fire({
            icon: 'success',
            title: '已發送驗證郵件',
            text: '驗證郵件已發送至您的Email地址，請登入Email確認後即可開始重設密碼。',
            timer: 2000,
            timerProgressBar: true,
            confirmButtonColor: '#00acee',
        })
    </script>
}
