@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>任務刊登1:10:1</title>
    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.js"
            integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
            crossorigin="anonymous"></script>
    <script src="~/jQuery-TWzipcode-master/jquery.twzipcode.js"></script>
    <script src="~/jQuery-TWzipcode-master/twzipcode.js"></script>
    @* 特效 *@
    <link rel="stylesheet" href="~/css/HS_writeB.css" asp-append-version="true" />
    <script src="~/js/HS_writeB.js"></script>
  
</head>
<style>
    .image-upload {
        display: none;
    }

    .image-preview {
        border: 1px solid #ccc;
        padding: 10px;
        margin-top: 10px;
    }

    .content-box {
        border: 1px solid #ccc;
        padding: 10px;
        margin-top: 10px;
    }

    .list-group-item {
        border: none;
    }

    #uploaded-images {
        display: flex;
        flex-wrap: wrap;
    }

    .uploaded-image {
        margin-right: 10px;
        /* 适当的右边距 */
    }

    #TWAddress1,#TWAddress2 {
        float: left;
        margin-left: 5px;
        margin-right: 10px;
        width: 150px
    }

    h1,
    label,
    select,
    input,
    textarea {
        font-size: 25px;
    }

 
    h1 {
        font-size: 25px;
    }
</style>

<body>
    <form method="post" id="orderForm" action="/HS_Pending/PendingOrder_Buy">
       
            <div class="row g-3">
                <div class="col-md-1"></div>
                <div class="col-md-10" style="background-color: #BCE5F6;" id="HSfont">
                    <br>
                    <h1 class="text-center" style="letter-spacing: 1px;">任務刊登</h1>
                    <br>
                    <div class="form-group">
                        <label for="BuyOrderclass" style="letter-spacing: 1px;">選擇任務類別:</label>
                        <select class="form-control" name="BuyOrderclass" id="BuyOrderclass" style="letter-spacing: 2px;font-size: 25px;">
                            <option value="1">排隊</option>
                            <option value="2" selected>購買</option>
                        </select>
                    </div>
                    <!-- 購買表單 -->
                    <div id="buy-fields">
                        <!-- 標籤 select 和 名稱 input -->
                        <div class="row g-3 align-items-center">
                            <div class="col">
                                <label for="BuyLabel" class="form-label me-2" style="letter-spacing: 1px;">任務標籤:</label>
                                <select class="form-select" name="BuyLabel" id="BuyLabel" style="max-width: 400px;">
                                    <option value="食物">食物</option>
                                    <option value="日用品">日用品</option>
                                </select>
                            </div>
                            <div class="col">
                                <div class="wrap-label">
                                    <label for="BuyName" class="form-label me-2">名稱:</label>
                                    <input type="text" class="form-control" name="BuyName" id="BuyName" style="max-width: 400px;">
                                    <span class="iconicfill-pen-alt2">&#9998;</span>
                                </div>
                            </div>
                        </div>
                        <!-- 金額 input -->
                        <div class="row g-3 align-items-center">
                            <div class="col">
                                <div class="wrap-label">
                                    <label for="BuyLocation" class="form-label me-2" style="letter-spacing: 1px;">任務執行地點:</label>
                                    <input type="text" class="form-control" name="BuyLocation" id="BuyLocation" style="max-width: 400px;">
                                    <span class="iconicfill-pen-alt2">&#9998;</span>
                                </div>
                            </div>
                            <div class="col">
                                <div class="wrap-label">
                                    <label for="BuyAmount" class="form-label me-2">金額:</label>
                                    <input type="text" class="form-control" name="BuyAmount" id="BuyAmount" style="max-width: 400px;">
                                    <span class="iconicfill-pen-alt2">&#9998;</span>
                                </div>
                            </div>
                        </div>
                        <!-- 交貨時間時間格式的 input -->
                        <div class="row g-3 align-items-center">
                            <div class="col">
                                <div class="wrap-label">
                                    <label for="BuyDelivery" class="form-label me-2">交貨時間:</label>
                                    <input type="datetime-local" class="form-control" name="BuyDelivery" id="BuyDelivery" style="max-width: 400px;">
                                    <span class="iconicfill-pen-alt2">&#9998;</span>
                                </div>
                            </div>
                            <div class="col">
                                <div class="wrap-label">
                                    <label for="BuyDeadline" class="form-label me-2">任務截止時間:</label>
                                    <input type="datetime-local" class="form-control" name="BuyDeadline" id="BuyDeadline" style="max-width: 400px;">
                                    <span class="iconicfill-pen-alt2">&#9998;</span>
                                </div>
                            </div>
                        </div>
                        <!-- 交貨地址詳細地址 input -->
                        <div class="row g-3 align-items-center">
                            <div class="col">
                                <h3 for="BuyCity" class="form-label me-2">交貨地址:</h3>
                                <div class="d-flex mt-1 fs-5" id="TWAddress">
                                    <div class="col-md-3" data-role="county" id="TWAddress1">
                                    </div>
                                    <div class="col-md-3" data-role="district" id="TWAddress2">
                                    </div>
                                    <div class="col-md-3 invalid-feedback" data-role="zipcode" id="TWAddress3">
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="wrap-label">
                                    <label for="BuyAddress" class="form-label me-2" style="letter-spacing: 1px;">詳細地址:</label>
                                    <input type="text" class="form-control" name="BuyAddress" id="BuyAddress" placeholder="請輸入詳細地址">
                                    <span class="iconicfill-pen-alt2">&#9998;</span>
                                </div>
                            </div>
                        </div>
                        <!-- 收貨方式 select 和 -->
                        <div class="row g-3 align-items-center">
                            <div class="col">
                                <div class="wrap-label">
                                    <label for="BuyDeliveryMethod" class="form-label me-2" style="letter-spacing: 1px;">收貨方式:</label>
                                    <select class="form-select" name="BuyDeliveryMethod" id="BuyDeliveryMethod" style="max-width:400px">
                                        <option value="面交">面交</option>
                                        <option value="管理員代收">管理員代收</option>
                                         <option value="宅配">宅配</option>
                                        <option value="放門口">放門口</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <!-- 任務內容和圖片上傳 -->
                        <div class="row g-3 align-items-center">
                            <div class="col">
                                <div class="wrap-label">
                                    <label for="BuyTaskContent" class="form-label me-2" style="font-size: 25px;">任務內容:</label>
                                    <textarea class="form-control" rows="5" placeholder="請輸入詳細任務需求..." name="BuyTaskContent" id="BuyTaskContent" style="font-size: 20px;"></textarea>
                                    <span class="iconicfill-pen-alt2">&#9998;</span>
                                </div>
                            </div>
                        </div>
                        <div class="row g-3 align-items-center">
                            <div class="row g-3 align-items-center">
                                <div class="col">
                                    <div class="wrap-label">
                                        <label for="imageInput" class="btn btn-secondary mt-2">上傳圖片</label>
                                        <input type="file" class="image-upload" id="imageInput" accept="image/*" multiple onchange="previewImages(this, 'buy_uploaded_images')">
                                        <input type="hidden" id="base64Image" name="BuyImage" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row g-3 align-items-center">
                            <li class="list-group-item buy_uploaded_images" id="buy_uploaded_images" name="queue_images">
                            </li>
                        </div>
                    </div>
                    <div class="d-flex justify-content-end mt-3">
                        <div class="wrap-label">
                            <input type="button" value="下一步" id="next-button" class="btn btn-primary mt-3" style="background-color: #4B3DE7;">
                        </div>
                    </div>
                    <div style="height:50px"></div>
                </div>
                <div class="col-md-1"></div>
            </div>
            
       
    </form>


    <script>

        window.onload = function () {
            // 先進行初始化
            var temp = 0;
            if (temp < 1) {
                //訂單類型初始化
                document.getElementById("BuyOrderclass").dispatchEvent(new Event("change"));
                temp += 1;
            }

            //  Local Storage 加載資料
            loadFormData();
        };
        function saveFormData() {
            var formElements = document.querySelectorAll("input, select, textarea"); 
            var formData = {};

            formElements.forEach(function (element) {
                if (element.name) { // 檢查元素是否有 'name' 屬性
                    formData[element.name] = element.value; // 保存每個元素的值
                }
            });

            localStorage.setItem("myFormData", JSON.stringify(formData)); // 將數據對象轉換為 JSON 字符串並保存到 Local Storage
        }

        function loadFormData() {
            var savedData = localStorage.getItem("myFormData"); // 從 Local Storage 中取出數據
            if (savedData) {
                var formData = JSON.parse(savedData); // 將 JSON 字符串轉換回對象
                for (var key in formData) {
                    var element = document.getElementsByName(key)[0]; // 使用 'name' 屬性找到對應的元素
                    if (element) {
                        element.value = formData[key]; // 設置元素的值
                    }
                }
            }
        }
        // 當BuyOrderclass字段值變更時
        document.getElementById("BuyOrderclass").addEventListener("change", function () {
            var selectedOption = this.value;
            if (selectedOption === "1") {
                window.location.href = "/HS_Pending/PendingOrder_Pai";
            }
        });
        $("#TWAddress").twzipcode({
            "css": ["city form-control", "town form-control", "zipcode form-control"],
            "countyName": "BuyCity", // 指定城市name
            "districtName": "BuyDistrict",
            "zipcodeName": "BuyPostcode"
        });
        // 監聽訂單類型變化
        document.getElementById("BuyOrderclass").addEventListener("change", function () {
            var selectedOption = this.value;
            var buyFields = document.getElementById("buy-fields");
            var nextButton = document.getElementById("next-button");

            // 清空所有輸入的值
            var inputElements = document.querySelectorAll("input[type=text], textarea, input[type=datetime-local]");
            inputElements.forEach(function (input) {
                input.value = "";
                input.setCustomValidity(""); // 重設自訂驗證訊息
                input.classList.remove("is-invalid"); // 移除紅框
            });

        });

        // 監聽名稱輸入欄位的變化
        document.getElementById("BuyName").addEventListener("input", function () {
            var BuyNameInput = this.value;
            // 使用正則表達式檢查是否包含中文字
            var chineseCharacters = BuyNameInput.match(/[\u4e00-\u9fa5]/g);
            // 如果中文字的數量超過10個，截斷輸入
            if (chineseCharacters && chineseCharacters.length > 10) {
                this.value = BuyNameInput.slice(0, 15);
                showPopover("BuyName", "最多只能輸入15個字");
            }
        });

        // 監聽金額輸入欄位的變化
        document.getElementById("BuyAmount").addEventListener("input", function () {
            var AmountInput = this.value;
            // 使用正則表達式檢查是否只包含數字
            var isValid = /^[0-9]+$/.test(AmountInput);
            if (!isValid) {
                // 顯示錯誤信息或執行相關處理
                showPopover("BuyAmount", "金額只能輸入數字");
                // 清除非數字字符
                this.value = AmountInput.replace(/[^0-9]/g, "");
            }
        });


        function previewImages(input, previewId) {
            var preview = document.getElementById(previewId);
            preview.innerHTML = "";

            var files = input.files;

            for (var i = 0; i < files.length; i++) {
                var file = files[i];
                var reader = new FileReader();
                var imagePreview = document.createElement("div");
                imagePreview.classList.add("uploaded-image");

                reader.onload = function (e) {
                    // 創建一個 img 元素來顯示圖片
                    var img = document.createElement("img");
                    img.src = e.target.result;
                    img.alt = "上傳的圖片";
                    img.width = 150;
                    img.name = "BuyImage";
                    img.style = "margin-top: 20px;"
                    imagePreview.appendChild(img);

                    // 更新隱藏的 base64Image 輸入字段的值
                    document.getElementById('base64Image').value = e.target.result;
                };

                reader.readAsDataURL(file);

                // 將上傳的圖片顯示在列表中
                preview.appendChild(imagePreview);
            }
        }

        // 檢查日期時間欄位不能是空值和不能在現在時間之前
        function validateDateTimeField(id) {
            var input = document.getElementById(id);
            var value = input.value;
            var now = new Date();

            // 將時間格式轉換為日期對象
            var selectedDate = new Date(value.replace(/-/g, "/"));


            if (selectedDate <= now) {
                input.setCustomValidity("請選擇未來的日期和時間");
                return;
            }

            input.setCustomValidity("");
        }

        // 監聽日期時間欄位的變化
        document.getElementById("BuyDeadline").addEventListener("input", function () {
            validateDateTimeField("BuyDeadline");
        });
        document.getElementById("BuyDelivery").addEventListener("input", function () {
            validateDateTimeField("BuyDelivery");
        });

        // 顯示 Popovers 提示
        function showPopover(elementId, message) {
            var element = document.getElementById(elementId);
            var popover = new bootstrap.Popover(element, {
                content: message,
                trigger: 'manual',
                placement: 'right',
            });
            popover.show();
            setTimeout(function () {
                popover.dispose();
            }, 2000);
        }

        // 限制日期時間輸入不得早於現在時間
        var currentDate = new Date();
        var buyDeliveryTimeInput = document.getElementById("BuyDelivery");
        var BuyDeadlineInput = document.getElementById("BuyDeadline");

        buyDeliveryTimeInput.min = currentDate.toISOString().split("T")[0] + "T" + currentDate.toTimeString().split(" ")[0].substring(0, 5);
        BuyDeadlineInput.min = currentDate.toISOString().split("T")[0] + "T" + currentDate.toTimeString().split(" ")[0].substring(0, 5);

        // 監聽下一步按鈕的點擊事件
        function validateBuyForm() {
            var valid = true;
            var selectedOption = document.getElementById("BuyOrderclass").value;

            if (selectedOption === "2") {
                var buyLabel = document.getElementById("BuyLabel").value;
                var buyName = document.getElementById("BuyName").value;
                var buyAmount = document.getElementById("BuyAmount").value;
                var buyLocation = document.getElementById("BuyLocation").value;
                var buyDeliveryTime = new Date(document.getElementById("BuyDelivery").value);
                var buyCity = document.getElementById("TWAddress1").value;
                var buyDistrict = document.getElementById("TWAddress2").value;
                var buyAddress = document.getElementById("BuyAddress").value;
                var buyDeliveryMethod = document.getElementById("BuyDeliveryMethod").value;
                var buyTaskContent = document.getElementById("BuyTaskContent").value;
                var BuyDeadline = new Date(document.getElementById("BuyDeadline").value);

                if (buyLabel === "") {
                    showPopover("BuyLabel", "此欄位為必填");
                    document.getElementById("BuyLabel").classList.add("is-invalid");
                    valid = false;
                } else {
                    document.getElementById("BuyLabel").classList.remove("is-invalid");
                }

                if (buyName === "") {
                    showPopover("BuyName", "此欄位為必填");
                    document.getElementById("BuyName").classList.add("is-invalid");
                    valid = false;
                } else {
                    document.getElementById("BuyName").classList.remove("is-invalid");
                }

                if (buyAmount === "") {
                    showPopover("BuyAmount", "此欄位為必填");
                    document.getElementById("BuyAmount").classList.add("is-invalid");
                    valid = false;
                } else {
                    document.getElementById("BuyAmount").classList.remove("is-invalid");
                }

                if (buyLocation === "") {
                    showPopover("BuyLocation", "此欄位為必填");
                    document.getElementById("BuyLocation").classList.add("is-invalid");
                    valid = false;
                } else {
                    document.getElementById("BuyLocation").classList.remove("is-invalid");
                }

                if (buyDeliveryTime <= new Date()) {
                    showPopover("BuyDelivery", "交貨時間必須在現在時間之後");
                    document.getElementById("BuyDelivery").classList.add("is-invalid");
                    valid = false;
                } else {
                    document.getElementById("BuyDelivery").classList.remove("is-invalid");
                }

                if (buyDeliveryTime === "" || isNaN(buyDeliveryTime)) {
                    showPopover("BuyDelivery", "此欄位為必填");
                    document.getElementById("BuyDelivery").classList.add("is-invalid");
                    valid = false;
                } else {
                    document.getElementById("BuyDelivery").classList.remove("is-invalid");
                }

                if (BuyDeadline <= new Date()) {
                    showPopover("BuyDeadline", "任務截止時間必須在現在時間之後");
                    document.getElementById("BuyDeadline").classList.add("is-invalid");
                    valid = false;
                } else {
                    document.getElementById("BuyDeadline").classList.remove("is-invalid");
                }

                if (BuyDeadline === "" || isNaN(BuyDeadline)) {
                    showPopover("BuyDeadline", "此欄位為必填");
                    document.getElementById("BuyDeadline").classList.add("is-invalid");
                    valid = false;
                } else {
                    document.getElementById("BuyDeadline").classList.remove("is-invalid");
                }

                if (buyCity === "") {
                    showPopover("TWAddress1", "此欄位為必填");
                    document.getElementById("TWAddress1").classList.add("is-invalid");
                    valid = false;
                } else {
                    document.getElementById("TWAddress1").classList.remove("is-invalid");
                }

                if (buyDistrict === "") {
                    showPopover("TWAddress2", "此欄位為必填");
                    document.getElementById("TWAddress2").classList.add("is-invalid");
                    valid = false;
                } else {
                    document.getElementById("TWAddress2").classList.remove("is-invalid");
                }

                if (buyAddress === "") {
                    showPopover("BuyAddress", "此欄位為必填");
                    document.getElementById("BuyAddress").classList.add("is-invalid");
                    valid = false;
                } else {
                    document.getElementById("BuyAddress").classList.remove("is-invalid");
                }

                if (buyDeliveryMethod === "") {
                    showPopover("BuyDeliveryMethod", "此欄位為必填");
                    document.getElementById("BuyDeliveryMethod").classList.add("is-invalid");
                    valid = false;
                } else {
                    document.getElementById("BuyDeliveryMethod").classList.remove("is-invalid");
                }

                if (buyTaskContent === "") {
                    showPopover("BuyTaskContent", "此欄位為必填");
                    document.getElementById("BuyTaskContent").classList.add("is-invalid");
                    valid = false;
                } else {
                    document.getElementById("BuyTaskContent").classList.remove("is-invalid");
                }
            }

            return valid;
        }

   
        document.getElementById("next-button").addEventListener("click", function (event) {
            if (validateBuyForm()) {
                saveFormData();
                this.type = "submit";
                this.click();
            } else {
                this.type = "button";
                event.preventDefault();
            }
        });
        


    </script>


</body>

</html>